.p-description {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p-name {
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select-top {
    width: 120px;
}

.li-image-product {
    float: left;
    list-style: none;
}